* {
  box-sizing: border-box;
}

.calculator {
  align-items: center;
  border-radius: 24px;
  background: #e1dfe2;
  box-shadow:  10px 10px 20px #bfbfc0,
           -10px -10px 20px #bfbfc0;
  margin: 5% auto;
  width: 50%;
  max-width: 300px;
  padding: 3%;
}

.calculator_display {
  background-color: #999696;
  color: #fff;
  border-radius: 7px;
  font-size: 24px;
  padding: 10px;
  text-align: right;
}

.buttons {
  background: #e1dfe2;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 10px;
  border-radius: 20px; 
  padding: 10px; 
  
}

button {
  font-size: large;
  border-radius: 50%; 
  border: 0;
  color: white;
  background-color: gray;
  padding: 15px; 
  box-shadow:  5px 5px 10px #141416,
           -5px -5px 10px #b9b9c5;
}
.clear {
  color: red;
}
.equal-operator {
  background-color: orange;
}

.buttons > * {
  padding: 15px;
  position: relative;
  text-align: center;
}

.buttons > *:active::before,
.buttons > .is-depressed::before {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  content: "";
  left: 0;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}